.container-about {
    top: 40px;
}

.container-about .carousel-inner .carousel-item {
    top: 20px;
}

.container-about .carousel-inner .carousel-item img {
    width: 25rem;
    margin: auto;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: rgb(128, 124, 131);
}

button, select {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    text-transform: none;
}

.container-about .form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding: 10px
}

.container-about .form-group .card {
    margin: 10px;
    font-size: large;
}

.container-about .form-group .card:hover {
    background-color: teal;
    color: white;
    transform: scale(1.1,1.1);
}

@media (max-width: 760px) {
    
    .container-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-about .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-about .carousel-item img {
        width: auto;
    }

    .container-about .carousel-inner .carousel-item {
        top: 0px;
    }
}