<div class="container-about">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-target="#carouselExampleIndicators" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-target="#carouselExampleIndicators" data-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-target="#carouselExampleIndicators" data-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/foto-about-1.jpg" class="d-block w-90 h-50" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/foto-about-2.jpg" class="d-block w-90 h-50" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/foto-about-3.jpg" class="d-block w-90 h-50" alt="...">
        </div>
      </div>
  </div>

  <div class="form-group">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <p class="card-text">Somos un grupo de amigos que nos gusta ver peliculas, de todo tipo de genero (Acción, Drama, Terror, Comedia, etc.)</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <p class="card-text">Compartimos las mejores peliculas a un precio accesible, para que  puedas verla en familia o con amigos.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <p class="card-text">Ponente cómodo y a disfrutar la peli con unos ricos pochoclos !!!</p>
      </div>
    </div>
  </div>
</div>
