.menu .navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    /* background-color: #1e3644; */
}

/* .menu .navbar .navbar-brand {
    justify-content: center;
    background-color: rgb(236, 230, 230);
    padding: 0px;
    outline: none;
    margin: auto;
} */

.menu .navbar a {
    /* color: black; */
    border-bottom: 1px solid #000000;
    border-width: 2px;
}

.menu .navbar a:hover {
    border-bottom: 1px solid rgb(187, 41, 41);
    border-width: 2px;

}

@media (max-width: 760px) { 
    .menu .navbar {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .menu .navbar .navbar-brand {
        justify-content: center;
        align-self: center;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        padding-left: 58%;
    }
}