<div class="menu">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <img src="assets/images/logo.png">
        <button class="navbar-toggler" id="ocultarMenu" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a id="e1" class="nav-link" routerLink="/home" routerLinkActive="active" >Inicio </a>
                </li>
                <li class="nav-item">
                    <a id="e2" class="nav-link" routerLink="/movies" routerLinkActive="active" >Peliculas</a>
                </li>
                <li class="nav-item">
                    <a id="e3" class="nav-link" routerLink="/about" routerLinkActive="active" >Nosotros</a>
                </li>
                <li class="nav-item">
                    <a id="e4" class="nav-link" routerLink="/contact" routerLinkActive="active" >Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
</div>