.container-notfound {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

p {
    padding: 30px;
    font-size: large;
}

@media (max-width: 760px) { 
    img {
        width: inherit;
        padding: 30px;
    }
}