* {
    box-sizing: border-box;
  }
  
  .container-card .form-group {
      display: flex;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
  }
  
  .container-card .form-group .card {
      align-items: center;
      margin: 10px;
  }
  
  .rounded {
    border-radius: 2.25rem!important;
  }
  
  
  .card img {
      width: 12rem;
  }
  
  .container-card .form-group .card:hover {
      transition: transform .3s;
      filter: drop-shadow(4px 4px 4px #000000);
      transform: scale(1.1, 1.1);
  }
  
  .card-title {
      font-size: large;
  }
  
  .preci {
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
  }
  
  .star {
    color: yellow;
    font-size: 20px;
    padding: 10px;
    /* margin: 10px; */
  }
  
  @media (max-width: 760px) { 
    .container-card .form-group {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .container-card .form-group .card {
      width: 100%;
    }
  
  }  